<body style="margin: 0;" >
  <nav style="background-color: rgb(98, 214, 195); height: 100px; text-align: center;">
    <header style="color: white; font-size: 50px; align-self: center;">
      Hello world
    </header>
  </nav>
  <div style="border: 1px solid black; border-radius: 0.5em; width: fit-content; padding: 10px; margin: 0 auto; justify-content: baseline;">
    <h2>Augusto Zanoli</h2>
    <p>Eu sou Augusto Zanoli </p>
    <ul>
      <li>Oi</li>
      <li>Peixe</li>
    </ul>
  </div>
  <div></div>
</body>
